/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
body {

}

header {

}

footer {
  background-color: #172127;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
