/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
