/* Box Model Hack */
* {
     box-sizing: border-box;
	 
}
body {
	margin-left: auto;
	margin-right: auto;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
header, footer {
	width: 100%;
	height: 100px;
	clear: both;
}
header, footer, section {

border: 1px solid grey;
}

section {
	width: 33.333%;
	height: 200px;
	float: left;
}

@media screen and (max-width: 400px) {
	section {
		float: none;
		width: 100%;
	}
}

@media screen and (min-width: 2000px) {
	body {
		width: 2000px;
	}
	body {
		height: 100vh;
	}
}
